<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="en-us" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Review Kiwi</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-color: #cccccc;
            background: #cccccc;
        }
    </style>
</head>

<body bgcolor="#cccccc" link="#86ac3d" vlink="#86ac3d">
<!-- Start of main container -->
<table align="center" bgcolor="#cccccc" cellpadding="0" cellspacing="0"
       style="width: 100%; background:#cccccc; background-color:#cccccc; margin:0; padding:0 20px;">
<tr>
<td>
<table align="center" cellpadding="0" cellspacing="0"
       style="width: 620px; border-collapse:collapse; text-align:left; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#444444; margin:0 auto;">
<!-- Start of logo and top links -->
<tr>
    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;">
        <img alt=""
             height="5"
             src="http://up.project13.pl/files/BottomBackground_Blue_1.png"
             vspace="0"
             style="border:0; padding:0; margin:0; line-height:0; display:block;"
             width="620">
    </td>
</tr>
<tr>
    <td style=" width:620px;" valign="top">
        <table cellpadding="0" cellspacing="0"
               style="width:100%; border-collapse:collapse;font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#444444;">
            <tr>
                <td bgcolor="#86ac3d"
                    style="width: 320px; padding:10px 0 10px 20px; background:#86ac3d; background-color:#86ac3d; color:#ffffff;"
                    valign="top">
                    <a style="color:#485c22; text-decoration:underline;" href="#">Forward to a friend</a><span
                        style="color:#9bc251;"> | </span><a style="color:#485c22; text-decoration:underline;"
                                                            href="#">Visit our website </a>
                </td>
                <td bgcolor="#86ac3d"
                    style="width: 300px; padding:10px 20px 10px 20px; background:#86ac3d; background-color:#86ac3d; text-align:right; color:#ffffff;"
                    valign="top">
                    Sales and Support: +1 (555) 555-5555
                </td>
            </tr>
            <tr>
                <td bgcolor="#FFFFFF"
                    style="width: 320px; padding:20px 0 15px 20px; background:#ffffff; background-color:#ffffff;"
                    valign="middle">
                    <p style="padding:0; margin:0; line-height:160%; font-size:18px;">
                        <img alt="Fresh Newsletter" height="80" src="http://up.project13.pl/files/kiwi-icon.png"
                             style="padding:0;border:0;" width="300">
                    </p>
                </td>
                <td bgcolor="#FFFFFF"
                    style="width: 300px; padding:20px 20px 15px 20px; background:#ffffff; background-color:#ffffff; text-align:center;"
                    valign="middle">
                    <a style="text-decoration:none; color:#86ac3d;" href="#">Having trouble viewing this
                        email?<br>Click here to view the hosted version.</a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;font-size:2px;"><img alt="" height="5"
                                                                                             src="http://up.project13.pl/files/Newsletter_border_Bottom.png"
                                                                                             vspace="0"
                                                                                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                             width="620">

        <div class="message">
            <div class="author-box">
                <div>
                    <img src="{{authorGravatarUrl}}" alt="author TODO FIX" class="author-gravatar"/>
                    <strong>{{authorName}}</strong>
                    pushed
                    <span class="pre">[<a href="{{githubCommitUrl}}">{{commitIdAbbrev}}</a>]</span>
                    to
                    <a href="{{githubRepoUrl}}">{{githubRepoName}}</a>
                </div>

                <div class="">
                    <div class="message-first-line">
                        {{messageFirstLine}}
                    </div>
                    <div class="message-full">
                        {{messageFull}}
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
<!-- End of logo and top links -->


<!-- Start of First Content -->
<tr>
    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;"><img alt=""
                                                                                                         height="5"
                                                                                                         src="http://up.project13.pl/files/Newsletter_border_top.png"
                                                                                                         vspace="0"
                                                                                                         style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                                         width="620">
    </td>
</tr>
<tr>
    <td bgcolor="#FFFFFF" style="padding:10px 20px; background:#ffffff;background-color:#ffffff;" valign="top">
        <span style="color:#999999; font-size:8pt;">Sunday, 2 May 2010, Issue # 301</span><br>

        <p style="padding:0; margin:0 0 11pt 0;line-height:160%; font-size:18px;">
            Fresh, and professional Newsletter solution for your business</p>
        <img hspace="20" align="left" alt="image" src="http://up.project13.pl/files/Pencil.png" height="120" width="90">Fresh
        Newsletter is professional and very
        customizable. It comes in 10 layouts, 12 color themes,
        Layered and sliced PSD file which contains all graphic Elements of
        each theme for any color changes you want, commented HTML
        pages, and user friendly help manual which
        covers customization steps and instructions how to mix and
        create new layouts.<br><a style="text-decoration:none; color:#86ac3d;" href="#"><img alt="»" height="7"
                                                                                             src="http://up.project13.pl/files/arrow.png"
                                                                                             vspace="0"
                                                                                             style="border:0;"
                                                                                             width="12">&nbsp;Read
        More</a>
    </td>
</tr>
<tr>
    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;font-size:2px;"><img alt="" height="5"
                                                                                             src="http://up.project13.pl/files/Newsletter_border_Bottom.png"
                                                                                             vspace="0"
                                                                                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                             width="620"></td>
</tr>
<!-- End of First Content -->
<!-- Start of Second Content -->
<tr>
    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;"><img alt=""
                                                                                                         height="5"
                                                                                                         src="http://up.project13.pl/files/Newsletter_border_top.png"
                                                                                                         vspace="0"
                                                                                                         style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                                         width="620">
    </td>
</tr>
<tr>
    <td width="620" bgcolor="#FFFFFF" style="padding:10px 20px; background:#ffffff;background-color:#ffffff;"
        valign="top">
					<span style="font-size: 8pt;color: #999999;">
					Compatibility <img alt="↓" height="6" src="http://up.project13.pl/files/arrow2.png" width="10"></span><br>

        <p style="padding:0; margin:0 0 11pt 0;line-height:160%; font-size:18px;">
            Tested in major email clients</p>
        <img hspace="20" align="left" alt="image" src="http://up.project13.pl/files/area_chart1.png" height="120" width="90">Compatible
        with all major email clients, Tested in Microsoft Outlook (2000, 2002, 2003, 2007,2010
        beta), Apple Mail (3, 4), Lotus Notes8, Thunderbird (2, 3), Windows Mail, Windows Live Mail, Postbox,
        Yahoo Mail, Hotmail, Gmail, and
        AOL Mail. Compatible with all browsers, HTML pages rendered
        perfectly In Internet Explorer (5.5, 6, 7, 8), Firefox,
        Google Chrome, Opera and Safari.<br><a style="text-decoration:none; color:#86ac3d;" href="#"><img
            alt="»" height="7" src="http://up.project13.pl/files/arrow.png" vspace="0" style="border:0;" width="12">&nbsp;Read
        More</a>
    </td>
</tr>
<tr>
    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;font-size:2px;"><img alt="" height="5"
                                                                                             src="http://up.project13.pl/files/Newsletter_border_Bottom.png"
                                                                                             vspace="0"
                                                                                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                             width="620"></td>
</tr>
<!-- End of Second Content -->
<!-- Start of Third Content -->
<tr>
    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;"><img alt=""
                                                                                                         height="5"
                                                                                                         src="http://up.project13.pl/files/Newsletter_border_top.png"
                                                                                                         vspace="0"
                                                                                                         style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                                         width="620">
    </td>
</tr>
<tr>
    <td bgcolor="#FFFFFF" style="padding:10px 20px; background:#ffffff;background-color:#ffffff;" valign="top">
                <span style="font-size: 8pt;color: #999999;">Professionally built <img alt="↓" height="6"
                                                                                       src="http://up.project13.pl/files/arrow2.png"
                                                                                       width="10"></span><br>

        <p style="padding:0; margin:0 0 11pt 0;line-height:160%; font-size:18px;">
            Usability and elegance</p>
        <img hspace="20" align="left" alt="image" src="http://up.project13.pl/files/star.png" height="120" width="90">It&#39;s
        designed with usability and elegance in mind. Take for
        example layout 1, height of two columns at the bottom always
        matching no matter if your contents height (in the left and
        right columns) are equal or not, the same with sidebar height
        (layout 6 &amp; 7) always matching the other side column
        height, you never get taller column or messy look of your newsletter. Check out screenshots.<br><a
            style="text-decoration:none; color:#86ac3d;" href="#"><img alt="»" height="7" src="http://up.project13.pl/files/arrow.png"
                                                                       vspace="0" style="border:0;" width="12">&nbsp;Read
        More</a>
    </td>
</tr>
<tr>
    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;font-size:2px;"><img alt="" height="5"
                                                                                             src="http://up.project13.pl/files/Newsletter_border_Bottom.png"
                                                                                             vspace="0"
                                                                                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                             width="620"></td>
</tr>
<!-- End of Third Content -->
<!-- Start of two content in row Container -->
<tr>
    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;"><img alt=""
                                                                                                         height="5"
                                                                                                         src="http://up.project13.pl/files/2x300pxWindow_Top.png"
                                                                                                         vspace="0"
                                                                                                         style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                                         width="620">
    </td>
</tr>
<tr>
    <td>
        <table cellpadding="0" cellspacing="0" style="width: 100%;border-collapse:collapse;">
            <tr>
                <!-- Start of left content -->
                <td bgcolor="#ffffff" style="width:300px; background:#ffffff;background-color:#ffffff;"
                    valign="top">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%; border-collapse:collapse; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#444444;">
                        <tr>
                            <td valign="top" style="padding:10px 20px; width:300px; margin:0;">
                                        <span style="font-size: 8pt;color: #999999;">Fact <img alt="↓" height="6"
                                                                                               src="http://up.project13.pl/files/arrow2.png"
                                                                                               width="10"></span><br>

                                <p style="padding:0; margin:0 0 11pt 0;line-height:160%; font-size:18px;">Visual
                                    appeal!</p>
                                <img hspace="20" align="left" alt="image" src="http://up.project13.pl/files/Chart_2.png" height="64"
                                     width="64">Visual appeal is an important factor for retail customers- and
                                accordingly HTML formatting was favored by 95% in 2009, up from 86% in 2008. -
                                E-Tail Group "More Merchants Rely on Email to Minimize Cart Abandonment" (2010)
                                [emailstatcenter.com]<br><a style="text-decoration:none; color:#86ac3d;"
                                                            href="#"><img alt="»" height="7"
                                                                          src="http://up.project13.pl/files/arrow.png" vspace="0"
                                                                          style="border:0;" width="12">&nbsp;Read
                                More</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- End of left Content -->
                <!-- Start of space bewteen left and right Columns - DO NOT REMOVE IT - -->
                <td style="width:20px;" valign="top">&nbsp;</td>
                <!-- End of space bewteen left and right Columns -->
                <!-- Start of right Content -->
                <td bgcolor="#ffffff" style="width:300px; background:#ffffff;background-color:#ffffff;"
                    valign="top">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%; border-collapse:collapse; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#444444;">
                        <tr>
                            <td valign="top" style="padding:10px 20px; width:300px; margin:0;">
                                        <span style="font-size: 8pt;color: #999999;">Do you know about <img alt="↓"
                                                                                                            height="6"
                                                                                                            src="http://up.project13.pl/files/arrow2.png"
                                                                                                            width="10"></span><br>

                                <p style="padding:0; margin:0 0 11pt 0;line-height:160%; font-size:18px;">
                                    The power of social media</p>
                                <img hspace="20" align="left" alt="image" src="http://up.project13.pl/files/twitter_icon.png"
                                     height="64" width="64">Do you know that (based on actual tweet ID numbers)
                                over 12 Billion Tweets have been made! That&#39;s why you should
                                put Twitter and other social media links in your newsletter, if people like
                                your content, they will follow you! and tweet about your products.<br><a
                                    style="text-decoration:none; color:#86ac3d;" href="#"><img alt="»"
                                                                                               height="7"
                                                                                               src="http://up.project13.pl/files/arrow.png"
                                                                                               vspace="0"
                                                                                               style="border:0;"
                                                                                               width="12">&nbsp;Read
                                More</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <!-- End of right Content -->
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;font-size:2px;"><img alt="" height="5"
                                                                                             src="http://up.project13.pl/files/2x300pxWindow_Bottom.png"
                                                                                             vspace="0"
                                                                                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                             width="620"></td>
</tr>
<!-- End of two content in row Container -->
<!-- Start of Footer -->
<tr>
    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;"><img alt=""
                                                                                                         height="5"
                                                                                                         src="http://up.project13.pl/files/BottomBackground_Blue_1.png"
                                                                                                         vspace="0"
                                                                                                         style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                                         width="620">
    </td>
</tr>
<tr>
    <td bgcolor="#86ac3d" style="padding:0 20px 15px 20px; background-color:#86ac3d; background:#86ac3d;">
        <table cellpadding="0" cellspacing="0"
               style="width: 100%; border-collapse:collapse; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#FFFFFF;">
            <tr>
                <td style="padding:20px 0;" colspan="2">
                    <img align="left" alt="Fresh Newsletter" height="80" src="http://up.project13.pl/files/Logo-green.png"
                         style="border:0;" width="300">
                </td>
            </tr>
            <tr>
                <td style="width:340px; padding:0 20px 0 0;">
                    301 some street name, city name, state, country<br>
                    <a style="color:#485c22; text-decoration:underline;" href="#">www.yourwebsite.com</a>
                    | <a style="color:#485c22; text-decoration:underline;" href="#">email@website.com</a><br>
                    Sales and Support: +1 (555) 555-5555
                </td>
                <td valign="middle" align="center" style="text-align:center; width:240px;">
                    <table cellpadding="0" cellspacing="5" style="width: 100%; border-collapse:collapse;">
                        <tr>
                            <td style="width:20%;"><a style="text-decoration:none; color:#485c22;" href="#"><img
                                    alt="RSS" height="32" src="http://up.project13.pl/files/rss.png" style="border:0;" width="32"></a>
                            </td>
                            <td style="width:20%;"><a style="text-decoration:none; color:#485c22;" href="#"><img
                                    alt="Twitter" height="32" src="http://up.project13.pl/files/twitter.png" style="border:0;"
                                    width="32"></a></td>
                            <td style="width:20%;"><a style="text-decoration:none; color:#485c22;" href="#"><img
                                    alt="Facebook" height="32" src="http://up.project13.pl/files/facebook.png" style="border:0;"
                                    width="32"></a></td>
                            <td style="width:20%;"><a style="text-decoration:none; color:#485c22;" href="#"><img
                                    alt="Youtube" height="32" src="http://up.project13.pl/files/youtube.png" style="border:0;"
                                    width="32"></a></td>
                            <td style="width:20%;"><a style="text-decoration:none; color:#485c22;" href="#"><img
                                    alt="Linkedin" height="32" src="http://up.project13.pl/files/linkedin.png" style="border:0;"
                                    width="32"></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding:20px 0 0 0;" colspan="2">
                    You are currently signed up to Company’s newsletters as: <a
                        style="color:#485c22; text-decoration:underline;" href="#">email@email.com</a>. <a
                        style="color:#485c22; text-decoration:underline;" href="#">To unsubscribe click here</a><br>Copyright
                    © 2010
                    Your Company Name.
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td valign="top" style="height:5px;margin:0;padding:0 0 20px 0;line-height:0;font-size:2px;"><img alt=""
                                                                                                      height="5"
                                                                                                      src="http://up.project13.pl/files/BottomBackground_Blue_2.png"
                                                                                                      vspace="0"
                                                                                                      style="border:0; padding:0; margin:0; line-height:0; display:block;"
                                                                                                      width="620">
    </td>
</tr>
<!-- End of Footer -->
</table>
</td>
</tr>
</table>
<!-- End of main container -->
</body>
</html>
