<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="en-us" http-equiv="Content-Language">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Review Kiwi</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background-color: #cccccc;
            background: #cccccc;
        }
    </style>
</head>

<body bgcolor="#cccccc" link="#86ac3d" vlink="#86ac3d">
<!-- Start of main container -->
<table align="center" bgcolor="#cccccc" cellpadding="0" cellspacing="0"
       style="width: 100%; background:#cccccc; background-color:#cccccc; margin:0; padding:0 20px;">
    <tr>
        <td>
            <table align="center" cellpadding="0" cellspacing="0"
                   style="width: 620px; border-collapse:collapse; text-align:left; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#333333; margin:0 auto;">
                <!-- Start of logo and top links -->
                <tr>
                    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;">
                        <img alt=""
                             height="5"
                             src="http://review.kiwi.project13.pl/images/BottomBackground_Blue_1.png"
                             vspace="0"
                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                             width="620">
                    </td>
                </tr>
                <tr>
                    <td style=" width:620px;" valign="top">
                        <table cellpadding="0" cellspacing="0"
                               style="width:100%; border-collapse:collapse;font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#333333;">
                            <tr>
                                <td bgcolor="#86ac3d"
                                    style="width: 320px; padding:10px 0 10px 10px; background:#86ac3d; background-color:#86ac3d; color:#ffffff;"
                                    valign="top">
                                    <!--<a style="color:#485c22; text-decoration:underline;" href="#">Forward to a friend</a><span-->
                                    <!--style="color:#9bc251;"> | </span><a style="color:#485c22; text-decoration:underline;"-->
                                    <!--href="#">Visit our website </a>-->

                                    <!--New commit in [{repoFullName}] by {authorName} @ {commitDate}-->

                                    <strong>Review Kiwi</strong> notification
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#44444" colspan="2"
                                    style="width: 320px; padding:20px 0 15px 20px; background:#333333; background-color:#333333;"
                                    valign="middle">
                                    <p style="padding:0; margin:0; line-height:160%; font-size:18px; float: left; clear: none">
                                        <img alt="Review Kiwi"
                                             src="http://review.kiwi.project13.pl/images/kiwi-icon.png"
                                             style="padding:0;border:0;" width="80" height="80">

                                    <h1 style="float: left;clear:none; padding-left: 15px; color: #ffffff;">
                                        Konrad Malawski pushed to: <br>[yap/yap-scala-commons]
                                    </h1>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;">
                        <img alt="" height="5"
                             src="http://review.kiwi.project13.pl/images/Newsletter_border_Bottom.png"
                             vspace="0"
                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                             width="620">
                    </td>
                </tr>
                <!-- End of logo and top links -->

                <!-- Start of First Content -->
                <tr>
                    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;"><img
                            alt=""
                            height="5"
                            src="http://review.kiwi.project13.pl/images/Newsletter_border_top.png"
                            vspace="0"
                            style="border:0; padding:0; margin:0; line-height:0; display:block;"
                            width="620">
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF" style="padding:10px 20px; background:#ffffff;background-color:#ffffff;"
                        valign="top">
                        <div class="message">
                            <div class="author-box">
                                <div>
                                    <img src="{{authorGravatarUrl}}" alt="author TODO FIX" class="author-gravatar"/>
                                    <strong>{{authorName}}</strong>
                                    pushed
                                    <span class="pre">[<a href="{{githubCommitUrl}}">{{commitIdAbbrev}}</a>]</span>
                                    to
                                    <a href="{{githubRepoUrl}}">{{githubRepoName}}</a>
                                </div>

                                <div>
                                    <div style="font-weight: bold;">
                                        {{messageFirstLine}}
                                    </div>
                                    <div class="message-full">
                                        {{messageFull}}
                                    </div>
                                    <div style="color:#999999; font-size:8pt;">{{commitDateTime}}</div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;font-size:2px;">
                        <img alt="" height="5"
                             src="http://review.kiwi.project13.pl/images/Newsletter_border_Bottom.png"
                             vspace="0"
                             style="border:0; padding:0; margin:0; line-height:0; display:block;"
                             width="620"></td>
                </tr>


                <!-- End of First Content -->

                <!-- Start of commits (files) -->
                {{content}}
                <!-- End of commits (files) -->

                <!-- Start of Footer -->
                <tr>
                    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;"><img
                            alt=""
                            height="5"
                            src="http://review.kiwi.project13.pl/images/BottomBackground_Blue_1.png"
                            vspace="0"
                            style="border:0; padding:0; margin:0; line-height:0; display:block;"
                            width="620">
                    </td>
                </tr>

                <tr>
                    <td bgcolor="#86ac3d"
                        style="padding:0 20px 15px 20px; background-color:#86ac3d; background:#86ac3d;">
                        <table cellpadding="0" cellspacing="0"
                               style="width: 100%; border-collapse:collapse; font-family:Tahoma; font-weight:normal; font-size:12px; line-height:15pt; color:#FFFFFF;">
                            <tr>
                                <td style="padding:20px 0;" colspan="2">
                                    <img align="left" alt="Review Kiwi" height="80"
                                         src="http://review.kiwi.project13.pl/images/kiwi-icon.png"
                                         style="border:0;" width="80">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:20px 0 0 0;" colspan="2">
                                    <a style="color:#485c22; text-decoration:underline;" href="#">To unsubscribe click
                                        here</a>
                                    <br>
                                    Copyright &copy; 2012 - review.kiwi.project13.pl
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="height:5px;margin:0;padding:0 0 20px 0;line-height:0;font-size:2px;"><img
                            alt=""
                            height="5"
                            src="http://review.kiwi.project13.pl/images/BottomBackground_Blue_2.png"
                            vspace="0"
                            style="border:0; padding:0; margin:0; line-height:0; display:block;"
                            width="620">
                    </td>
                </tr>
                <!-- End of Footer -->
            </table>
        </td>
    </tr>
</table>
<!-- End of main container -->
</body>
</html>
