<tr>
    <td valign="bottom" style="height:5px;margin:0;padding:20px 0 0 0;line-height:0;font-size:2px;">
        <img
                alt=""
                height="5"
                src="http://review.kiwi.project13.pl/images/BottomBackground_Gray_1.png"
                vspace="0"
                style="border:0; padding:0; margin:0; line-height:0; display:block;"
                width="620">
    </td>
</tr>

<tr>
    <td bgcolor="#333333" style="padding:10px 20px; max-width: 620px; width: 620px" valign="top">
        <h2 style="color: white !important">
            {{fileIcon}} {{fileName}}
        </h2>

        <div style="border: 1px solid #d8d8d8;background:white;margin-bottom: 1em;overflow: auto;padding: 0.5em 0;max-width: 580px; width: 580px">
                {{diff}}
        </div>

        <br>

        <div style="text-align: right">
            <a style="text-decoration:none; color:#86ac3d;" href="#">
                <img alt="»" height="7" src="http://review.kiwi.project13.pl/images/arrow.png" vspace="0"
                     style="border:0;" width="12">
                &nbsp;View on github</a>
        </div>
    </td>
</tr>
<tr>
    <td valign="top" style="height:5px;margin:0;padding:0;line-height:0;font-size:2px;">
        <img alt=""
             height="5"
             src="http://review.kiwi.project13.pl/images/BottomBackground_Gray_2.png"
             vspace="0"
             style="border:0; padding:0; margin:0; line-height:0; display:block;"
             width="620">
    </td>
</tr>
